/* Prociono */

@font-face {
	font-family: 'Prociono';
	src: url('Prociono-Regular-webfont.eot');
	src: local('☺'), url('Prociono-Regular-webfont.woff') format('woff'), url('Prociono-Regular-webfont.ttf') format('truetype'), url('Prociono-Regular-webfont.svg') format('svg');
	font-weight: 900;
	font-style: normal;
}
