<div data-sticky-container>
    <div class="top-bar" data-sticky data-options="marginTop:0;",style="width:100%;">
        <div class="top-bar-left">
            <ul class="dropdown menu" data-dropdown-menu>
                <li class="menu-text"> mpadge </li>
                <li><a href="/">home</a></li>
                <li>
                    <a href="#">code</a>
                    <ul class="menu vertical">
                        <li><a href="#">One</a></li>
                        <li><a href="#">Two</a></li>
                        <li><a href="#">Three</a></li>
                    </ul>
                </li>
                <li><a href="#">blog</a></li>
                <li><a href="#">about</a></li>
            </ul>
        </div>
        <div class="top-bar-right">
            <ul class="dropdown menu" data-dropdown-menu>
                <li><a href="https://github.com/mpadge">
                        <i class="fi-social-github"></i></a></li>
                <li><a href="https://twitter.com/bikesRdata"><i
                       class="fi-social-twitter"></i></a></li>
            </ul>
        </div>
    </div>
</div>

