<div data-sticky-container>
    <div class="top-bar" data-sticky data-options="marginTop:0;",style="width:100%;">
        <div class="top-bar-left">
            <ul class="dropdown menu" data-dropdown-menu>
                <li class="menu-text"> mpadge </li>
                <li><a href="{{root}}/#">home</a></li>
                <li><a href="{{root}}blog.html">blog</a></li>
                <li> <a href="{{root}}/#code">code</a> </li>
            </ul>
        </div>
        <div class="top-bar-right">
            <ul class="dropdown menu" data-dropdown-menu>
                <li><a target="_blank" rel="noopener noreferrer"
                                       href="https://github.com/mpadge">
                        <i class="fi-social-github"></i></a></li>
                <li><a target="_blank" rel="noopener noreferrer"
                                       href="https://twitter.com/bikesRdata">
                        <i class="fi-social-twitter"></i></a></li>
            </ul>
        </div>
    </div>
</div>

