<div class="grid-x grid-padding-x">
    <div class="large-12 cell">
        <div class="callout">
            <div class="grid-x grid-padding-x">

                <div class="large-1 medium-1 cell">
                </div>

                <div class="large-4 medium-4 cell" style="background-color:#eeffddaa">
                    <div class="callout">
                        <div class="cell"><h2 align="center">mark padgham</h2></div>
                        <p class="text-center">data scientist, developer, open data
                        advocate, cyclist<br>
                        mostly C++, R packages
                        </p>
                    </div>
                </div>

                <div class="large-6 medium-6 cell" style="background-color:#eeffddaa">
                    <div class="callout">
                        <p class="text-center">I develop R packages for
                        accessing and analysing open spatial data, with a
                        particular focus on urban planning and transport. I am
                        a founding member of 
                        <a target="_blank" rel="noopener noreferrer"
                           href="https://atfutures.github.io">Active Transport
                                           Futures</a>, and the lead developer
                                       of 
                        <a target="_blank" rel="noopener noreferrer"
                                           href="https://moveability.city">moveability.city</a>,
                        a platform for open-source, open-access interactive
                        visualisations of urban moveability.
                        </p>
                    </div>
                </div>

                <div class="large-1 medium-1 cell">
                </div>

            </div>
        </div>

    </div>
</div>
