<div class="grid-x grid-padding-x">
    <div class="large-12 cell">
        <div class="callout">
            <div class="grid-x grid-padding-x">

                <div class="large-4 medium-4 cell">
                </div>

                <div class="large-4 medium-4 cell" style="background-color:#fefefeaa">
                    <div class="callout">
                        <div class="cell"><h2 style="text-align: center;">mark padgham</h2></div>
                        <p class="text-center">
                            <a target="_blank" rel="noopener noreferrer"
                                href="https://ropensci.org">rOpenSci</a>
                            Software Peer-Review Lead<br>
                            <a target="_blank" rel="noopener noreferrer"
                                href="https://urbananalyst.city">Urban Analyst</a>
                            <br>Curator of opinions
                        </p>
                    </div>
                </div>

                <div class="large-4 medium-4 cell">
                </div>

            </div>
        </div>

    </div>
</div>
