<div class="grid-x grid-padding-x">
    <div class="large-12 cell">
        <div class="callout">
            <div class="grid-x grid-padding-x">

                <div class="large-1 medium-1 cell">
                </div>

                <div class="large-4 medium-4 cell" style="background-color:#eeffddaa">
                    <div class="callout">
                        <div class="cell"><h2 align="center">mark padgham</h2></div>
                        <p class="text-center">
                            <a target="_blank" rel="noopener noreferrer"
                                href="https://ropensci.org">rOpenSci</a>
                            Software Peer-Review Lead,<br>open data
                            advocate, cyclist<br> mostly C++, R packages
                        </p>
                    </div>
                </div>

                <div class="large-6 medium-6 cell" style="background-color:#eeffddaa">
                    <div class="callout">
                        <p class="text-center">I lead
                        <a target="_blank" rel="noopener noreferrer"
                            href="https://ropensci.org">rOpenSci</a>'s
                        <a target="_blank" rel="noopener noreferrer"
                            href="https://ropensci.org/software-review">
                            software peer review program.
                        </a>
                        I also develop R packages for
                        accessing and analysing open spatial data, with a
                        particular focus on urban planning and transport.
                        I built the
                        <a target="_blank" rel="noopener noreferrer"
                           href="https://urbananalyst.city">
                            UrbanAnalyst
                        </a>
                        platform for interactive visualization and comparison of
                        cities.
                        </p>
                    </div>
                </div>

                <div class="large-1 medium-1 cell">
                </div>

            </div>
        </div>

    </div>
</div>
